Source: libpam-trimspaces
Section: admin
Priority: optional
Maintainer: Test Erik <0etaka0@gmail.com> 
Build-Depends:
 debhelper (>= 11),
 libpam0g-dev,
Standards-Version: 4.4.1
Homepage: https://github.com/test-erik/pam_trimspaces

Package: libpam-trimspaces
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: PAM module to strip spaces from usernames
 Additional spaces cause usernames in Lightdm not to be
 recognized. This PAM module removes them.
 
